<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://w3cj.github.io/materialize-themes/dist/css/materialize-pink-deep-purple.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Zac's Haircut Poll</a>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Zac J
        </div>
      </div>
    </footer>
  </body>
</html>
